<div class="icon" @onclick="HandleSetIcon">
    <i class="fas @IconClass"></i>
</div>

@code {
    [Parameter]
    public string IconClass { get; set; }
    [Parameter]
    public EventCallback<string> OnIconSelected { get; set; }

    private async Task HandleSetIcon()
    {
        await OnIconSelected.InvokeAsync(IconClass);
    }
}
