.item {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: solid;
    border-width: 1px;
    border-color: #f0ebeb;
}
.item-summary {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.item-start {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
}

.item-title{
    font-size: medium;
}

.item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    background-color: #f5f3f2;
    border-radius: 10%;
}

.item-sum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.item-shared{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.item-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f3f2;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}
.detail{
    padding-bottom: 0.5em;
}
.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-title{
    display: flex;
    width: 55%;
    justify-content: flex-end;
}
.input-value {
    display: flex;
    width: 25%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.input-currency {
    display: flex;
    width: 20%;
}

