<div class="item">
    <div class="item-start">
        <Icon IconClass="@BudgetItem.IconName"/>
        <h4>@BudgetItem.Name</h4>
    </div>
    <div class="item-content">
        <div class="item-sum">@BudgetItem.Amount</div>
        <div class="item-shared">@BudgetItem.IsShared</div>
    </div>
</div>


@code {
    [Parameter]
    public Budget BudgetItem { get; set; }
}
